<section class="project-workers">
  <div fxLayout="column" fxLayoutAlign="center center">
    <h2 class="title">Buildings</h2>
    <div>
      <div class="flex">
        <div class="padding-top">
          <button type="button" mat-raised-button color="primary" (click)="Navigate()">Add New Building</button>
        </div>
        <mat-form-field>
          <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter..">
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <div class="form-padding" fxLayout="column" class="table-width">
        <mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="Id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.Id}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="action" cdkColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-raised-button type="button" color="primary" (click)="onEditBuilding(element.Id)">Edit</button>
              <button mat-raised-button type="button" color="warn" (click)="onDeleteBuilding(element.Id)">Delete</button>
            </mat-cell>
          </ng-container>
          <!--<ng-container matColumnDef="action">-->
          <!--<mat-header-cell *matHeaderCellDef>Action</mat-header-cell>-->
          <!--<mat-cell *matCellDef>-->
          <!--<button mat-raised-button type="button" color="primary">Edit</button>-->
          <!--<button mat-raised-button type="button" color="warn">Delete</button>-->
          <!--</mat-cell>-->
          <!--</ng-container>-->

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>
    </div>
    <mat-paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</section>
