<section class="new-work-order">
  <div fxLayout="column" fxLayoutAlign="center center">
    <h2 class="title">Edit Work Order</h2>
    <form #f="ngForm" (ngSubmit)="onSubmit()">

      <div fxLayout="row">
        <div class="form-padding" fxLayout="column">
          <mat-form-field>
            <input type="text" matInput class="form-control" placeholder="WORK ORDER NUMBER" name="order-number"
                   [(ngModel)]="workOrder.Id" [disabled]="true"
                   required/>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Department" [(ngModel)]="workOrder.departmentId"
                        [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let department of departments" [value]="department.Id">
                {{ department.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
          <textarea matInput placeholder="Description" rows="4" name="description"
                    [(ngModel)]="workOrder.description"></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Building Location" (selectionChange)="onChangeBuilding()" [(ngModel)]="workOrder.buildingId"
                        [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let building of buildings" [value]="building.Id">
                {{ building.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Asset" [(ngModel)]="workOrder.assetId" [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let asset of assets" [value]="asset.Id">
                {{ asset.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input type="text" matInput class="form-control" placeholder="Requested By" name="requested-by"
                   [(ngModel)]="workOrder.requestedBy"
                   required/>
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput placeholder="Amount ( $ )" name="amount" [(ngModel)]="workOrder.amount"/>
          </mat-form-field>
          <div fxFlex>
            <mat-form-field class="width-350">
              <mat-select placeholder="Add worker" [(ngModel)]="workOrder.workerId"
                          [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let worker of workers" [value]="worker.Id">
                  {{ worker.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button type="button" class="width-70 m-left-20" mat-raised-button color="primary" (click)="onAddWorker()">
              Add
            </button>
          </div>
          <ul class="work-time-list">
            <li *ngFor="let worker of workersTimeWorked">
              <label class="badge">{{worker.workerName}}</label>
              <mat-form-field class="width-150">
                <input type="number" matInput min="0" placeholder="hr" name="amount" value="{{worker.timeWorked}}"
                       (change)="onUpdateWorkerTime($event.target.value,worker.workerId)"/>
              </mat-form-field>
              <button type="button" class="width-70 m-left-20" mat-raised-button color="warn"
                      (click)="onRemoveWorker(worker.workerId)">Remove
              </button>
            </li>
          </ul>
        </div>
        <div class="form-padding" fxLayout="column">

          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Date Issued" name="date-issued"
                   [(ngModel)]="workOrder.dateIssue">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Date Completed" [(ngModel)]="workOrder.dateCompleted"
                   name="date-completed" (ngModelChange)="onCompleted()">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
          <textarea matInput placeholder="Comment" rows="4" name="comment"
                    [(ngModel)]="workOrder.comment"></textarea>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Status" [(ngModel)]="workOrder.status" [ngModelOptions]="{standalone: true}"
                        [disabled]="true">
              <mat-option *ngFor="let status of statuss" [value]="status.value">
                {{ status.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Resident" (selectionChange)="onChangeResident()" [(ngModel)]="workOrder.residentId"
                        [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let resident of residents" [value]="resident.Id">
                {{ resident.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input type="email" matInput class="form-control" name="room" placeholder="Room"
                   [(ngModel)]="workOrder.room" (change)="onChangeRoom()"
            />
          </mat-form-field>
          <mat-form-field>
            <input type="tel" matInput class="form-control" name="phone" placeholder="Phone"
                   [(ngModel)]="workOrder.phone"
            />
          </mat-form-field>

          <mat-form-field>
            <input type="number" matInput class="form-control" name="time-worked" placeholder="Amount of Time Worked"
                   [(ngModel)]="workOrder.timeWorked" [disabled]="true"
                   required/>
          </mat-form-field>
        </div>
      </div>
      <div class="m-top-20 m-left-20">
        <mat-checkbox [checked]="isBuilding" (change)="isResident= !isBuilding" name="isBuilding"
                      [(ngModel)]="isBuilding">Building
        </mat-checkbox>
        <mat-checkbox class="m-left-20" [checked]="isResident" name="isResident" (change)="isBuilding = !isResident"
                      [(ngModel)]="isResident">Resident
        </mat-checkbox>
      </div>
      <div class="form-padding">
        <button type="submit" mat-raised-button color="primary" [disabled]="!f.form.valid">Update</button>
        <button type="button" class="m-left-40" mat-raised-button color="accent" (click)="onPrintWorkOrder()"
                [disabled]="!f.form.valid">Print
        </button>
      </div>
    </form><!-- end form -->
  </div>
</section>
