<section class="new-work-order">
  <div fxLayout="column" fxLayoutAlign="center center">
    <h2 class="title">Edit Building</h2>
    <form #f="ngForm" (ngSubmit)="onSubmit()">
      <div fxLayout="row">
        <div class="form-padding" fxLayout="column">
          <mat-form-field>
            <input type="text" matInput class="form-control" placeholder="Location" name="building-location" [(ngModel)]="building.name"
                   required/>
          </mat-form-field>
        </div>
      </div>
      <div class="form-padding">
        <button type="submit" mat-raised-button color="primary" [disabled]="!f.form.valid">Update</button>
      </div>
    </form><!-- end form -->
  </div>
</section>
