.mat-row,.mat-header-row{
  width: 1000px;
}
.flex{
  width: 1000px;
  display: flex;
  justify-content: space-between;
}
mat-form-field{
  width: 300px;
}
.padding-top{
  padding-top: 15px;
}
.mat-paginator{
  width: 1000px;
}
.mat-column-action {
  flex: 1 1 100px;
}
.float-right{
  float: right;
}
.print-all{
  width: 1000px;

}
